body {
    width: 100%;
    margin: 0;
}

:root {
    --textcolor-primary: black;
    --textcolor-secondary: red;
    --backgroundcolor-primary: white;
    --backgroundcolor-secondary: black;
    /* TODO: kun siirrytään jonkun näköiseen webbi palvelin ympäristöön niin korjataan kuvien osoitteet... */
    --banner-img: url("/public_html/ui/assets/jonett-banner.png");
}

.overline {
    text-decoration: line-through;
}

/* NAVBAR ASETUKSIA */
#navbar {
    border-bottom: 1px solid black;
}

nav {
    position: fixed;
    top: 0;
    z-index: 1337;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    background: white;
    border-bottom: 1px solid black;
}

nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--textcolor-primary);
    font-size: 20px;
    transition: color 1s, font-size 1s;
    padding: 25px;
}

nav a:hover {
    color: var(--textcolor-secondary);
    font-size: 25px;
}

nav .active {
    color: var(--textcolor-secondary);
}
/* NAVBAR ASETUKSIA - LOPPUU */

/* Pääsisätöalueen asetuksia */

main {
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
/* Pääsisätöalueen osioiden asetuksia */
main>section {
    padding-left: 20px;
    padding-right: 20px;
}
section#hero {
    width: 100%;
    background: var(--banner-img);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    min-height: 250px;
    background-color: var(--backgroundcolor-secondary);
}

/* Pääsisätöalueen asetuksia - LOPPUU */








@media only screen and (max-width: 1000px) {
    nav {
        flex-direction: column;
    }
    main {
        margin-top: 130px;
    }
    nav a {
        padding: 10px;
    }
    section#hero {
        min-height: 150px;
    }
}

@media only screen and (max-width: 700px) {
    section#hero {
        min-height: 100px;
    }
}

@media only screen and (max-width: 400px) {
    section#hero {
        min-height: 80px;
    }
}